[general]
dbhost = localhost
file_upload_timeout = 120

[phmanifest]
user = root
passwd = labspass

[phuser]
user = root
passwd = labspass

[fabmigrate]
db = fab_migration
user = fabmigrate
passwd = ''
multi = 10
limit = 30

[phab]
host = https://phab-01.wmflabs.org/api/
username = mybot
; Get certificate for username from <host>/settings/panel/conduit/ after logging in.
certificate = ''

[oldfab]
cert = asdf
host = ''
user = ''

[bz]
url = https://bugzilla.wikimedia.org/xmlrpc.cgi
Bugzilla_login = foo@foo.com
Bugzilla_password = bar

[bzmigrate]
db = bugzilla_migration
user = root
passwd = labspass
fetch_multi = 40
create_multi = 3
update_limit = 30
update_multi = 10
# TODO pick better default
update_lookback = 999
populate_multi = 6
security = false

[rtmigrate]
db = rt_migration
user = root
passwd = labspass
fetch_multi = 40
create_multi = 3
update_limit = 30
update_multi = 10

[rt]
url = https://rt.wikimedia.org/REST/1.0/
login = ''
passwd = ''
